.m-y-20 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.m-x-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-y-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.code-frame {
    background-color: #364549;
    color: #e3e3e3;
    padding: 20px;
}
.title {
    border-bottom: 1px solid #cccccc;
}