<!-- header -->
{{ template "header.html" }}

<div class="content m-y-20">
    <p class="text-left m-y-0">
        <input type="button" class="btn btn-sm btn-secondary" onclick="location.href='/'" value="back">
    </p>
    <h1 class="text-center m-b-20">Imageパッケージ</h1>
    <h2 class="title">画像のグレースケール化</h2>
    {{ if .changeImage }}
    <img src="image/gopher002.jpg" alt="gopherくんグレースケール">
    {{ else }}
    <img src="image/gopher001.jpg" alt="gopherくん">
    {{ end }}
    <div class="m-y-20">
        <form action="/image" method="POST">
            <input type="hidden" name="mode" value="grayscale">
            <input type="submit" class="btn btn-primary" value="実行">
        </form>
    </div>
    <h2 class="title">絵を描く</h2>
    <div class="m-y-20">
        <form action="/image" method="POST">
            <input type="hidden" name="mode" value="render">
            <input type="submit" class="btn btn-primary" value="実行">
        </form>
    </div>
    {{ if .renderImage }}
    <img src="image/mickey.jpg" alt="ミッキー">
    {{ end }}
</div>

<!-- footer -->
{{ template "footer.html" }}