<!-- header -->
{{ template "header.html" }}

<div class="content m-y-20">
    <h2 class="text-center">
        <a href="/time">Timeパッケージ</a>
    </h2>
    <h2 class="text-center">
        <a href="/image">Imageパッケージ</a>
    </h2>
</div>

<!-- footer -->
{{ template "footer.html" }}