<!-- header -->
{{ template "header.html" }}

<div class="content m-y-20">
    <p class="text-left m-y-0">
        <input type="button" class="btn btn-sm btn-secondary" onclick="location.href='/'" value="back">
    </p>
    <h1 class="text-center m-b-20">Timeパッケージ</h1>
    <h2 class="title">時刻フォーマット変換</h2>
    <form action="/time" method="POST">
        <div class="m-y-20">
            <h3>
                <label class="custom-control custom-control-primary custom-radio">
                    <input class="custom-control-input" type="radio" name="format" value="success">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-label">2006-01-02 15:04:05</span>
                </label>
            </h3>
            <div class="code-frame">
                t := time.Now()<br>
                fmt.Println(t.Format("2006-01-02 15:04:05"))
            </div>
        </div>
        <div class="m-y-20">
            <h3>
                <label class="custom-control custom-control-primary custom-radio">
                    <input class="custom-control-input" type="radio" name="format" value="error">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-label">2018-12-31 23:59:59</span>
                </label>
            </h3>
            <div class="code-frame">
                t := time.Now()<br>
                fmt.Println(t.Format("2018-12-31 23:59:59"))
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="実行">
        </div>
    </form>
    <hr>
    <h3>実行結果</h3>
    <h3 class="text-success">{{.time}}</h3>
</div>

<!-- footer -->
{{ template "footer.html" }}